/* Main colors */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --links-text-color: #4D5AE5;
    --links-hover-color: #404BBF;
    --primary-white-color: #ffffff;
    --text-footer-color:#F4F4FD;
}


body { 
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

h1,h2,h3 {
    color: var(--title-text-color);
}



/* Header */
.list {
    list-style-type: none;
}

.link{
    text-decoration: none;
}

.logo {   
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--links-text-color);
}

.logo-2 {
    color: var(--title-text-color);
} 

.list .link{
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.list .link:hover,
.list .link:focus{
    color: var(--links-hover-color);
}

.info .link{
    color: var(--primary-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

.info .link:hover,
.info .link:focus {
    color: var(--links-hover-color);
}

/* main */
/* Hero */
.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}

.hero-btn {
    background-color: var(--links-text-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--links-hover-color);
}

/* Section */

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
/* Advanteges */
.list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.list .text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
}

/* Projectes */
/* Team */
.seaction-team{
    background-color: var(--text-footer-color);
}

.seaction-team .title {
    text-align: center;
}

.seaction-team .text {
    /* font-weight: 400; */
    text-align: center;
}

/* Footer */
.footer {
    background-color: var(--title-text-color);
    color: var(--text-footer-color);
    }

.footer .logo-2{
   color: var(--text-footer-color); 
}
.footer .text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
}

/* Portfolio */

.filter .btn {
    background-color: var(--text-footer-color);
    color: var(--links-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.filter .btn:hover {
    background-color: var(--links-hover-color);
    color: var(--primary-white-color);
}

.portfolio-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-list .text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
}